version: "3.9"

services:
  gitlab:
    image: "gitlab/gitlab-ce:${GITLAB_VERSION}"
    container_name: gitlab-server
    restart: always

    ports:
      - "${GITLAB_SSH_PORT}:22"

    volumes:
      - ./gitlab/config:/etc/gitlab
      - ./gitlab/logs:/var/log/gitlab
      - ./gitlab/data:/var/opt/gitlab

    environment:
      TZ: ${TZ}
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://${GITLAB_DOMAIN}'
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
        nginx['enable'] = false

    networks:
      - ${GITLAB_NETWORK}

  nginx:
    container_name: nginx-reverse
    image: nginx:latest
    restart: always

    ports:
      - "${NGINX_HTTP_PORT}:80"
      - "${NGINX_HTTPS_PORT}:443"

    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl
      - ./certbot/www:/var/www/certbot
    depends_on:
      - gitlab

    networks:
      - ${GITLAB_NETWORK}

  certbot:
    container_name: certbot
    image: certbot/certbot:latest
    restart: always

    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
      - ./nginx/ssl:/etc/nginx/ssl

    entrypoint: >
      sh -c "trap exit TERM;
      while :;
      do
        certbot renew --webroot -w /var/www/certbot --deploy-hook 'cp /etc/letsencrypt/live/${GITLAB_DOMAIN}/* /etc/nginx/ssl/'ï¼›
        sleep 12h;
      done"

    networks:
      - ${GITLAB_NETWORK}

networks:
  gitlab_net:
    driver: bridge
