version: "3.9"

services:
  gitlab:
    image: "gitlab/gitlab-ce:${GITLAB_VERSION}"
    container_name: gitlab-server
    restart: always

    ports:
      - "${GITLAB_SSH_PORT}:22"

    volumes:
      - ./gitlab/config:/etc/gitlab
      - ./gitlab/logs:/var/log/gitlab
      - ./gitlab/data:/var/opt/gitlab

    environment:
      TZ: ${TZ}
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://${GITLAB_DOMAIN}'
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
        nginx['enable'] = false

    networks:
      - ${GITLAB_NETWORK}

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/users/sign_in"]
      interval: 1m
      timeout: 10s
      retries: 3

  nginx:
    build:
      context: .
    container_name: nginx-proxy

    restart: always

    ports:
      - "${NGINX_HTTP_PORT}:80"
      - "${NGINX_HTTPS_PORT}:443"

    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro

    depends_on:
      - gitlab

    networks:
      - ${GITLAB_NETWORK}

    healthcheck:
      test: ["CMD", "curl", "-f", "https://${GITLAB_DOMAIN}"]
      interval: 1m
      timeout: 10s
      retries: 3

networks:
  gitlab_net:
    driver: bridge
