version: "3.9"

services:
  gitlab:
    image: "gitlab/gitlab-ce:${GITLAB_VERSION}"
    container_name: gitlab
    restart: always
    # فقط پورت SSH بیرون
    ports:
      - "${GITLAB_SSH_PORT}:22"
    volumes:
      - ./gitlab/config:/etc/gitlab
      - ./gitlab/logs:/var/log/gitlab
      - ./gitlab/data:/var/opt/gitlab
    environment:
      TZ: ${TZ}
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://${GITLAB_DOMAIN}'
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
        nginx['enable'] = false  # Nginx داخلی خاموش
    networks:
      - gitlab_internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/-/health"]
      interval: 1m
      timeout: 10s
      retries: 3
    env_file:
      - .env

  nginx:
    build: .
    container_name: nginx-proxy
    restart: always
    ports:
      - "${NGINX_HTTP_PORT}:80"
      - "${NGINX_HTTPS_PORT}:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d:ro
      - ./nginx/ssl:/etc/nginx/ssl
      - ./certbot/www:/var/www/certbot
    depends_on:
      - gitlab
      - certbot
    networks:
      - gitlab_internal
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    restart: always
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./nginx/ssl:/etc/nginx/ssl
    entrypoint: >
      sh -c "trap exit TERM;
      while :;
      do
        certbot renew --webroot -w /var/www/certbot --deploy-hook 'cp /etc/letsencrypt/live/${GITLAB_DOMAIN}/* /etc/nginx/ssl/';
        sleep 12h;
      done"
    networks:
      - gitlab_internal
    env_file:
      - .env

networks:
  gitlab_internal:
    driver: bridge
    internal: true